
.App {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  font-family: "Karla",Arial, Helvetica, sans-serif;
}

.Nav {
  height: 65px;
  width: 100%;
  display: flex;
  margin-top: 69px;
  margin-bottom: 69px;
  margin-left: 283px;
  margin-right: 283px;
}


ul.Navmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 60px;
}

ul.Navmenu li {
  float: right;
  margin: 8px;
  list-style-type: none;
  text-wrap: nowrap;
}

ul.Navmenu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.box {
  width: 1440px;
  height: 353px;
  background-color: rgb(73, 94, 87);
}

.box h1 {
  font-family: 'Markazi Text', serif;
  color: rgb(244, 206, 20);
  margin-left: 283px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 31px;
  padding-bottom: 20px;
  font-size: 2.8rem;
  height: max-content;
}

.box h2 {
  font-family: 'Markazi Text', serif;
  color: white;
  margin-left: 283px;
  font-size: 1.8rem;
  margin-top: 0px;
  margin-left: 283px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 49px;

}

.box p {
  font-size: 1rem;
  margin-left: 283px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: white;
  width: 297px;
  display: flex;
  flex-wrap: wrap;
}


.box img{
  float: right;
  margin-right: 283px;
  margin-top: 30px;
  padding-top: 0px;
  position: relative;
  border-radius: 16px;
}

.box button {
  margin-left: 283px;
  margin-top: 54px;
  background-color:rgb(244, 206, 20);
  font-weight: bold;
  font-size: 1.05rem;
  border-radius: 16px;
  border: none;
  width: 162px;
  height: 37px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.box button:hover{
 background-color: rgb(73, 94, 87);
 color: white;
 border-style: solid;
 border-color: white;
 border-width: 2px;
}

.box2 {
  margin-left: 283px;
  margin-top: 188px;
}

.box2 h1{
  font-family: 'Markazi Text', serif;
  font-size: 2.8rem;
  display: inline-block;
  margin-top: 0px;
}

.box2 button {
  display: inline-block;
  margin-left: 328px;
  margin-top: 0px;
  background-color:rgb(244, 206, 20);
  font-weight: bold;
  font-size: 1.05rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  border-width: 0px;
  width: 162px;
  height: 37px;
  justify-content: center;
  position: relative;
  bottom: 10px;
}

.box2 button:hover{
  background-color: rgb(73, 94, 87);
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
 }

.articles {
  margin-left: 283px;
}

.articles img {
  display: inline-block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

article {
    background-color: rgb(217, 217, 217);
    flex: 1;
    justify-content: left;
    padding: 0%;
    width: 272px;
    border-radius: 16px;
    display: inline-block;
    margin: 1%;
    height: 406px;

}

h3 {
  font-size: 1rem;
  margin-left: 17px;
  display: inline-block;
  font-weight: bold;
  color: black;
}

article p {
  font-size: .9rem;
  margin-left: 17px;
  margin-right: 20px;
}

h3 + h3 {
  color: rgb(207 , 99, 0);
  margin-right: 36px;
  float: right;
}

p + p {
  margin-top: 22px;
  font-weight: bold;
}

article p img {
  padding-top: 15px;
  padding-left: 5px;
}

.box4 {
  background-color: rgb(73, 94, 87);
  height: 427px;
  margin-top: 101px;
}

.box4 h1 {
 padding-top: 60px;
 font-size: 2.8rem;
 font-family: 'Markazi Text', serif;
 font-weight: bold;
 display: flex;
 color: rgb(244, 206, 20);
justify-content: center;

}

.box4 section {
  margin-left: 283px;
 }

 .box4 article {
  width: 204px;
  height: 200px;
  background-color: rgb(245, 245, 245);
 }

 .box4 article > p {
  font-size: .8rem;
  margin-left: 20px;
 }

 .box4 h3 + img {
  margin-left: 20px;
 }

 .box4 h3 + p {
  margin-top: 0px;
  margin-bottom: 20px;
 }

 div.about {
  margin-left: 283px;
 }

 div.about h2 {
  font-family: 'Markazi Text', serif;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 0px;
  margin-top: 15px;
 }

 div.about h1 {
  font-family: 'Markazi Text', serif;
  font-size: 2.8rem;
  color: rgb(73, 94, 87);
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 10px;
 }


 div.about p {
  font-size: 1rem;
  width: 297px;
 }

#twochefs {
  float: right;
  margin-right: 283px;
  margin-top: 180px;
  padding-top: 0px;
  position: relative;
  border-radius: 16px;

}
 #smileychef {
  float: right;
  margin-right: 487px;
  margin-top: 80px;
  padding-top: 0px;
  position: relative;
  border-radius: 16px;
  top: -580px;
}

.box5 {
  background-color: rgb(73, 94, 87);
  color: white;
  height: 432px;
  width: 100%;
  display: flex;
  width: 1440px;
}

footer img{
  margin-top: 100px;
  margin-left: 283px;
  margin-right: 60px;
}
.doormat {
  margin-right: 80px;
}
.doormat h3 {
  margin-top: 100px;
  text-wrap: wrap;
  width: 112px;
  color: white;
  margin-left: 0px;
}
.doormat ul {
  margin-top: 16px;
  list-style: none;
  width: 112px;
  padding-left: 0px;
}

.doormat ul a {
  margin-top: 100px;
  text-decoration: none;
  color: white;
  font-size: .8rem;
  font-weight: bold;

}

.doormat li {
  padding-top: 2%;
  padding-bottom: 2%;
}
.contact {
  margin-right: 40px;
}

.contact h3 {
  margin-top: 100px;
  color: white;
  margin-left: 0px;
}

.contact ul {
  list-style: none;
  font-size: .8rem;
  margin-top: 32px;
  padding-left: 0px;
  width:200px;
  font-weight: bold;
}
.contact li {
  padding-top: 2%;
  padding-bottom: 2%;
}

.contact li a {
    text-decoration: none;
    color: white;
}

.socials h3 {
  margin-top: 100px;
  color: white;
  margin-left: 0px;
}

.socials {
  margin-right: 60px;
}

.socials ul {
  list-style: none;
  font-size: .8rem;
  margin-top: 32px;
  padding-left: 0px;
  font-weight: bold;
}

.socials li {
  padding-top: 2%;
  padding-bottom: 2%;
}

.socials li a {
  text-decoration: none;
  color: white;
}

/* .box6 {
  height: 704px;
  background-color: aqua;
  padding: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
} 
main {
  height: 2900px;
  padding: 0%;
  margin: 0%;
} */

nav ul li a:hover {
  color: rgb(244, 206, 20);
}

footer ul li a:hover {
  color: rgb(244, 206, 20);
}

#delivery:hover {
  color: rgb(73, 94, 87);
  font-weight: bolder;
  font-size: .95rem;
}
